.DS_Store
.idea
DerivedData
Pods
xcuserdata
build
docs
*.log
Pods/
Podfile.lock
*.orig
Pokedex.xcworkspace/xcshareddata
Pokedex.xcworkspace/xcuserdata

PokedexAPI/PokedexAPI.xcodeproj/project.xcworkspace/xcshareddata/

PokedexView/Pokedex.xcodeproj/project.xcworkspace/xcshareddata/
